.more-features{
    padding-top: 40px;
    padding-bottom: 106px;
    .row{
        .col-md-4{
            .icons{
                padding-right: 20px; 

            }

            .text{
                h4{
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    font-weight: bolder;

                }

                h5{
                    font-family: 'Raleway', sans-serif;
                    font-size: 10px;
                    color: #aaaaaa;

                }

                p{
                    font-family: 'Raleway', sans-serif;
                    font-size: 12px;
                    font-weight: bolder;
                    color:#8b8b8b ;
                    width: 80%;

                }

                
            }
        }
    }
}