.skills{
    background-color: $color-bl;
    padding-top: 75px;
    .heading-first{
        justify-content: center;
        h3{

            font-family: 'Raleway', sans-serif;
            padding-right: 15px;
            padding-left: 15px; 
            color: white;
            span{
                color: $main-color ;
            }
        }
        
        img{
            height: 15px;
            width: 30px;
            margin-top: 8px;
        }
    }

    p{
        font-family: 'Raleway', sans-serif;
        color: $main-color-sec; 
        text-align: center;
        padding-top: 20px;
    }
}